# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Data files
data/raw/*.csv
data/staging/*.json
data/processed/*.json

# Logs
logs/*.log

# Virtual environments
venv/
.env/

# OS
.DS_Store
Thumbs.db

# Power BI temp
*.pbix.tmp
